language: node_js
node_js:
  - "10"
addons:
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['binaryen', 'cmake', 'g++-5']
cache:
  cargo: true
  yarn: true
  directories:
    #- binaryen
    - node_modules
compiler:
  - clang
before_install:
  - curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain=nightly -y
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$HOME/.cargo/bin:$(yarn global bin):$PATH
install:
  - yarn
script:
  - ./build.sh
  - ./test-rust.sh
  - ./test-js.sh
