# name & version is only used internally, doesn't need to be adjusted. In the case of
# name keep it consistent at "wasm" since the scripts (for re-use purposes) expect that

[package]
authors = ["Jaco Greeff <jacogr@gmail.com>"]
description = "WASM bindings to Rust crypto libaries."
edition = "2018"
license = "Apache-2.0"
name = "wasm"
publish = false
repository = "https://github.com/polkadot-js/wasm/"
version = "0.0.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
blake2-rfc = "0.2.18"
byteorder = "1.3.1"
ed25519-dalek = { version = "1.0.0-pre.1", features = ["nightly"] }
hmac = "0.7.0"
# libsecp256k1 = "0.2.2"
pbkdf2 = { version = "0.3.0", default-features = false }
schnorrkel = { version = "0.1.0", features = ["nightly"] }
sha2 = "0.8.0"
tiny-bip39 = { version = "0.6.1", default-features = false }
tiny-keccak = "1.4.2"
twox-hash = "1.1.2"
wasm-bindgen = "0.2"
wee_alloc = "0.4.3"

[dev-dependencies]
hex-literal = "0.1.4"
rand = { version = "0.6.5", features = ["wasm-bindgen"] }

[profile.release]
lto = true
