# name & version is only used internally, doesn't need to be adjusted. In the case of
# name keep it consistent at "wasm" since the scripts (for re-use purposes) expect that

[package]
authors = ["Jaco Greeff <jacogr@gmail.com>"]
description = "WASM bindings to dalek-ed25519."
edition = "2018"
license = "Apache-2.0"
name = "wasm"
publish = false
repository = "https://github.com/polkadot-js/wasm/"
version = "0.0.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
ed25519-dalek = { version = "1.0.0-pre.1", features = ["nightly"] }
wasm-bindgen = "0.2"
wee_alloc = "0.4.3"

[dev-dependencies]
hex-literal = "0.1.4"
rand = { version = "0.6.5", features = ["wasm-bindgen"] }

[profile.release]
lto = true
